<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.leekai.phone.kaidroid">

    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leekai.phone.kaidroid"/>
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leekai.phone.kaidroid"
        android:protectionLevel="normal"/>

    <application
        android:name=".KaiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="android:name">
        <!-- 项目启动页（闪屏页面） -->
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 功能介绍页 -->
        <activity
            android:name=".ui.activity.HowToActivity"
            android:screenOrientation="portrait"/>
        <!-- 项目主页 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 网页加载 -->
        <activity
            android:name=".ui.activity.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 扫一扫页面 -->
        <activity
            android:name=".ui.activity.ScanActivity"
            android:screenOrientation="portrait"/>
        <!-- 搜一搜 -->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <!-- 看一看 -->
        <activity
            android:name=".ui.activity.WatchActivity"
            android:screenOrientation="portrait"/>
        <!-- 拍一拍 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:screenOrientation="portrait"/>
        <!-- 扫码内容展示页 -->
        <activity
            android:name=".ui.activity.ShowInfoActivity"
            android:screenOrientation="portrait"/>
        <!-- 聊天页面 -->
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"/>
        <!-- 设置页面 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <!-- 举报页面 -->
        <activity android:name=".ui.activity.ReportActivity"
            android:screenOrientation="portrait"/>
        <!-- 我的（账户） -->
        <activity android:name=".ui.activity.MyActivity"
                  android:screenOrientation="portrait"/>
        <!-- 编辑收藏内容 -->
        <activity android:name=".ui.activity.EditCollectActivity"
                  android:screenOrientation="portrait"/>

        <!-- 微信分享调用 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- QQ分享调用 -->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100371282"/>
            </intent-filter>
        </activity>
        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.leekai.phone.kaidroid.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="cn.leekai.phone.kaidroid.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leekai.phone.kaidroid"/>
    </application>

</manifest>